.title{
  text-align: center;
  font-size: 70px;
}
.s1{
border: 1px solid black;
float: left;
width: 25%;
     PADDING: 20px;
    margin: 20px;
}
.s2{
border: 1px solid black;
float: left;
width: 25%;
    PADDING: 20px;
    margin: 20px;
}
.s3{
border: 1px solid black;
float: left;
width: 25%;
     PADDING: 20px;
    margin: 20px;
}
*{
box-sizing: border-box;
}
