.title{
  text-align: center;
  font-size: 70px;
}
.s1{
  background-color: #999999;
border: 1px solid black;
float: left;
width: 25%;
     PADDING: 20px;
    margin: 20px;
}
.s1 p {
  background-color: #d59898;
  border: 1px solid black;
  margin-top: -20px;
  padding: 0px;
  text-align: center;
  width: 80px;
  position:
  relative;
  left: 72%;
}
.s2 p {
  BACKGROUND-color: #c14543;
  border: 1px solid black;
  margin-top: -20px;
  padding: 0px;
  text-align: center;
  width: 80px;
  position:
  relative;
  left: 72%;
}
.s3 p {
  background-color: #e5d198;
  border: 1px solid black;
  margin-top: -20px;
  padding: 0px;
  text-align: center;
  width: 80px;
  position:
  relative;
  left: 72%;
}
.s2{
    background-color: #999999;
border: 1px solid black;
float: left;
width: 25%;
    PADDING: 20px;
    margin: 20px;
}
.s3{
    background-color: #999999;
border: 1px solid black;
float: left;
width: 25%;
     PADDING: 20px;
    margin: 20px;
}
*{
box-sizing: border-box;
}



